<%= link_to "ðŸ  Home", lists_path %>
<h1><%= @list.name %></h1>

<h2>Movies</h2>

<ul style="list-style: none;">
  <% @list.bookmarks.each do |bookmark| %>
    <li><img src="<%= bookmark.movie.poster_url %>" alt="Movie Poster" width="100" height="150"></li>
    <li><%= bookmark.movie.title %> | <%= bookmark.movie.overview %> | Rating: <%= bookmark.movie.rating %> | Comment: <%= bookmark.comment %></li>
    <%= link_to "ðŸ—‘ï¸",
  bookmark_path(bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?"} %>
  <% end %>
</ul>

<%= link_to "âž• Add a movie", new_list_bookmark_path(@list) %>

<h3>Reviews</h3>
<ul class="list-group">
  <% @list.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> (Rating: <%= review.rating %> / 5)</li>
  <% end %>
</ul>
<br>

<h5>Add your review below:</h5>
<%= render 'reviews/form', list: @list, review: @review %>
